<div class="header">
    <div class="index-layout">
        <a class="index-logo" href="./index.html">
            <img src="__STATIC__/img/logo.png" alt="logo">
        </a>
        <div class="user-info">
            <img src="__STATIC__/img/index/ava.png" alt="头像">
            <span>{$admin_info.username}</span>
            <a href="{:url('admin/Index/logout')}">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                退出
            </a>
        </div>
    </div>
</div>