<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入字体库 -->
    <link rel="stylesheet" href="__STATIC__/fontawesome/css/font-awesome.min.css">

    <!-- 引入页面css -->
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">

    <!-- 引入jQuery -->
    <script src="__STATIC__/js/jquery.min.js"></script>

    <title>企业扶持资金拨付后台</title>
</head>
<body>
{include file="public/header_nav" /}

<div class="index-banner layout">
    <!-- 面包屑导航 -->
    <div class="breadcrumbs">
        <a href="{:url('admin/Index/index')}">首页</a>><a href="{:url('admin/Enterprise/helpEnterpriseList')}">扶持企业</a>><a
            href="" class="active">留学生创业园项目扶持资金拨付</a>
    </div>

</div>


<div class="all_enterprise layout boxshadow">

    <!--扶持资金拨付申请表三-->
    <table cellpadding="10" class="detail-table-bottom" id="table">
        <caption>
            <h2 style="color: black">{$data['enterprise_name']}</h2>
        </caption>
        <thead>
        <tr>
            <td>批次</td>
            <td>拨付金额(万元)</td>
            <td>拨付时间</td>
            <td>操作人</td>
            <td>已拨金额(万元)</td>
            <td>剩余金额(万元)</td>
            <td>操作</td>
        </tr>
        </thead>

        <tbody class="add-tabody">
        {foreach $data.money_log as $k=>$v}
        <tr>
            <td>第{$k+1|num2Word}批</td>
            <td>{$v.give_money}</td>
            <td>{$v.give_money_time}</td>
            <td>{$v.handler|get_adminName_by_id}</td>
            <td>{$data.paid_money}</td>
            <td>{$data.all_money-$data.paid_money}</td>
            <td class="help-operation">
                <span class="help-editor" data-id="{$v.id}">编辑</span>
                <a href="{:url('admin/Enterprise/delGiveMoney',['id'=>$v.id])}"><span class="help-delete">删除</span></a>
            </td>
        </tr>
        {/foreach}

        <tr class="detail-table-add">
            <td colspan="7">
                <span>+增加批次</span>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="save-png clearfix">
        <i class="fa fa-download float-right" aria-hidden="true">项目扶持资金申请表下载</i>
    </div>

    <div class="model-mask">
        <form action="{:url('admin/Enterprise/doGiveMoney')}" method="post">
            <div class="model-mask-contnet">
                <h4>添加批次</h4>
                <span class="float-right close">x</span>
                <p>
                    拨付金额：<input class="common-input add-price" name="addMoney" type="text"><span>万元</span>
                </p>
                <p>
                    拨付时间：<input class="common-input add-time" name="addTime" type="text"><span>（格式为：2018-10-24）</span>
                </p>

                <div class="save-quite">
                    <input type="hidden" id="help_id" value="" name="help_id">
                    <input type="hidden" value="{$data.enterprise_id}" name="enterprise_id">
                    <input id="detail-add" class="confirm" type="submit" value="保存">
                </div>
            </div>
        </form>
    </div>

    <div class="model-mask-2">
        <form action="" method="post">
            <div class="model-mask-contnet">
                <h4>修改批次</h4>
                <span class="float-right close">x</span>
                <p>
                    拨付金额：<input class="common-input change-money" type="text"><span>万元</span>
                </p>
                <p>
                    拨付时间：<input class="common-input change-time" type="text"><span>（格式为：2018-10-24）</span>
                </p>

                <div class="save-quite">
                    <input type="hidden" value="{$data.enterprise_id}" name="enterprise_id">
                    <input id="detail-table-add" class="confirm" type="button" value="保存">
                </div>
            </div>
        </form>
    </div>


</div>
<script src="__STATIC__/js/up.js"></script>
<script src="__STATIC__/js/dom-to-image.js"></script>
<script src="__STATIC__/js/FileSaver.js"></script>
<script>


    $(function () {
        //
        $(".fa-download ").click(function () {
            // 下载png图片
            domtoimage.toBlob(document.getElementById('table'))
                .then(function (blob) {
                    window.saveAs(blob, "{$data['enterprise_name']}拨款明细.png");
                });
        })
    })


    // 添加批次
    $('.detail-table-add').on('click', function () {
        $('.model-mask').css('display', 'block')
    })


    $('.close').on('click', function () {
        $('.model-mask').css('display', 'none')
    })

    // 修改批次动态添加事件

    $(document).on('click', '.help-editor', function () {
        $('.model-mask-2').css('display', 'block');
        var _this = this;

        $('#detail-table-add').on('click', function () {
            var $data_id = _this.getAttribute('data-id');
            var $change_money = $(".change-money").val();
            var $change_time = $(".change-time").val();

            $.ajax({
                type: 'POST',
                url: "{:url('admin/Enterprise/editGiveMoney')}",
                data: {
                    data_id: $data_id,
                    change_money: $change_money,
                    change_time: $change_time
                },
                success: function () {
                    $('.model-mask-2').css('display', 'none')
                },
            })

        })
    });


    $(document).on('click', '.close', function () {
        $('.model-mask-2').css('display', 'none')
    });


</script>


</body>
</html>