<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入字体库 -->
    <link rel="stylesheet" href="__STATIC__/fontawesome/css/font-awesome.min.css">

    <!-- 引入页面css -->
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">

    <!-- 引入jQuery -->
    <script src="__STATIC__/js/jquery.min.js"></script>

    <title>企业扶持资金拨付后台</title>
</head>
<body>
{include file="public/header_nav" /}

<div class="index-banner layout">
    <!-- 面包屑导航 -->
    <div class="breadcrumbs">
        <a href="{:url('admin/Index/index')}">首页</a>><a href="" class="active">扶持企业 留学生创业园项目扶持资金拨付</a>
    </div>
</div>


<div class="all_enterprise layout boxshadow">
    <div class="palette">
        <form action="{:url('admin/Enterprise/HelpEnterpriseList')}" method="post">
            <select class="common-palette palette-years" name="year">
                <option value="">选择年份</option>
                {foreach $years as $y}
                <option value="{$y}">{$y}</option>
                {/foreach}
            </select>

            <select class="common-palette palette-disbursement" name="status" id="">
                <option value="">拨付状态</option>
                <option value="3">待拨付</option>
                <option value="1">拨付中</option>
                <option value="2">拨付完</option>
            </select>
            <input class="common-palette search enterprise-search" type="text" name="key" placeholder="输入要查询的关键字">
            <button type="submit" class="fa fa-search" aria-hidden="true"></button>
        </form>
    </div>


    <table cellpadding="10" class="common-table">
        <thead>
        <tr>
            <td>序号</td>
            <td>年度</td>
            <td>已拨款批次</td>
            <td>总金额(万元)</td>
            <td>企业名称</td>
            <td>拨付状态</td>
            <td>已拨金额(万元)</td>
            <td>剩余金额(万元)</td>
            <td>操作</td>
        </tr>
        </thead>


        <tbody>
        {foreach $list as $v}
        <tr>
            <td>{$v.id}</td>
            <td>{$v.create_time|date="Y"}</td>
            <td>{$v.paid_batch}</td>
            <td>{$v.all_money}</td>
            <td>{$v.enterprise.enterprise_list_name}</td>
            {if $v.status eq 3}
            <td>待拨付</td>
            {elseif $v.status eq 1}
            <td>拨付中</td>
            {elseif $v.status eq 2}
            <td>拨付完毕</td>
            {/if}
            <td>{$v.paid_money}</td>
            <td>{$v.all_money-$v.paid_money}</td>
            <td class="help-operation">
                <a href="{:url('admin/Enterprise/giveMoney',['id'=>$v.id])}">拨款</a>
                <a href="{:url('admin/Enterprise/helpDetail',['id'=>$v.id])}">编辑</a>
                <a href="{:url('admin/Enterprise/helpEnterpriseDel',['id'=>$v.id])}">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>


    </table>

    <div class="enterprise-foot clearfix">
        <div style="float: right">{$list|raw}</div>
    </div>

    <!--不是多余代码,不要删!-->
    <div class="enterprise-foot clearfix">
        <div style="float: right"></div>
    </div>
</div>


</body>
</html>