<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入字体库 -->
    <link rel="stylesheet" href="__STATIC__/fontawesome/css/font-awesome.min.css">

    <!-- 引入页面css -->
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">

    <!-- 引入jQuery -->
    <script src="__STATIC__/js/jquery.min.js"></script>

    <title>企业扶持资金拨付后台</title>
</head>
<body>
{include file="public/header_nav" /}

<div class="index-banner layout">
    <!-- 面包屑导航 -->
    <div class="breadcrumbs">
        <a href="{:url('admin/Index/index')}">首页</a>><a href="" class="active">扶持企业 留学生创业园项目扶持资金拨付</a>
    </div>


</div>


<div class="all_enterprise layout boxshadow">
    <div class="palette">
        <form action="{:url('admin/Enterprise/HelpEnterpriseList')}" method="post">
            <select class="common-palette palette-years" name="year">
                <option value="2018" selected>2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
            </select>

            <select class="common-palette palette-disbursement" name="disbursement" id="">
                <option value="disbursement_during" selected>拨付中</option>
                <option value="disbursement_over">拨付完</option>
            </select>
            <input class="common-palette search enterprise-search" type="text" name="key" placeholder="输入要查询的关键字"><button type="submit" class="fa fa-search" aria-hidden="true"></button>
        </form>
    </div>


    <table cellpadding="10" class="common-table">
        <thead>
            <tr>
                <td>序号</td>
                <td>年度</td>
                <td>总批次</td>
                <td>总金额(万元)</td>
                <td>企业名称</td>
                <td>拨付状态</td>
                <td>已拨金额(万元)</td>
                <td>剩余金额(万元)</td>
                <td>操作</td>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>001</td>
                <td>2018</td>
                <td>6</td>
                <td>500</td>
                <td>淮安同年科技有限公司</td>
                <td>拨付中</td>
                <td>300</td>
                <td>200</td>
                <td class="help-operation">
                    <a href="">查看</a>
                    <a href="">编辑</a>
                    <a href="">删除</a>
                </td>
            </tr>
        </tbody>


    </table>

    <div class="enterprise-foot clearfix">
        <div style="float: right">{$list|raw}</div>
    </div>

</div>




</body>
</html>