<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入字体库 -->
    <link rel="stylesheet" href="__STATIC__/fontawesome/css/font-awesome.min.css">

    <!-- 引入页面css -->
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">

    <!-- 引入jQuery -->
    <script src="__STATIC__/js/jquery.min.js"></script>

    <title>企业扶持资金拨付后台</title>
</head>
<body>
{include file="public/header_nav" /}

<div class="index-banner layout">
    <!-- 面包屑导航 -->
    <div class="breadcrumbs">
        <a href="{:url('admin/Index/index')}">首页</a>><a href="{:url('admin/Enterprise/helpEnterpriseList')}">扶持企业</a>><a
            href="" class="active">留学生创业园项目扶持资金拨付</a>
    </div>

</div>


<div class="all_enterprise layout boxshadow">

    <form action="{:url('admin/Enterprise/HelpEnterpriseEdit')}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{$info.id}" name="e_id">
        <!--扶持资金拨付申请表一-->
        <table cellpadding="10" class="detail-table-top">
            <tbody>
            <tr>
                <td>企业ID</td>
                <td>{$info.id}</td>
                <td>年度</td>
                <td>{:date("Y")}</td>
                <td>已拨批次</td>
                <td>{$info.paid_batch}</td>
            </tr>
            <tr>
                <td>引进人</td>
                <td><input type="text" name="introducer" value="{$info.introducer}" placeholder="点击输入引进人"></td>
                <td>企业名称</td>
                <td>{$info.enterprise_list_name}</td>
                <td>企业法人</td>
                <td>{$info.enterprise_list_legal_representative}</td>
            </tr>
            <tr>
                <td>人才姓名</td>
                <td><input type="text" name="talent" value="{$info.talent}" placeholder="点击输入人才姓名"></td>
                <td>毕业学院及学历</td>
                <td><input type="text" name="school" value="{$info.school}" placeholder="点击输入毕业院校及学历"></td>
                <td>总金额(万元)</td>
                <td><input type="text" name="all_money" value="{$info.all_money}" placeholder="点击输入总金额"></td>
            </tr>
            </tbody>
        </table>


        <!--扶持资金拨付申请表二-->
        <table cellpadding="10" class="detail-table-middle">
            <tbody>
            <tr>
                <td>人才基本信息</td>
                <td>
                    <textarea name="talent_info" cols="120" rows="4"
                              placeholder="请输入人才基本信息">{$info.talent_info}</textarea>
                </td>
            </tr>
            <tr>
                <td>目前企业现状</td>
                <td>
                    <textarea name="enterprise_info" cols="120" rows="4"
                              placeholder="请输入企业现状">{$info.enterprise_info}</textarea>
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td>
                    <textarea name="mark" cols="120" rows="4" placeholder="请输入备注">{$info.mark}</textarea>
                </td>
            </tr>
            <tr>
                <td>上传</td>
                <td class="detail-table-upload">
                    <div id="uploadss"></div>
                </td>
            </tr>
            <tr>
                <td>已上传图片:</td>
                <td>
                    <ul>
                        <li><img src="http://attach.bbs.miui.com/forum/201807/17/154537ujxutueesyj3mzt0.jpg" alt="" height="100"></li>
                    </ul>
                </td>
            </tr>

            </tbody>
        </table>


        <div class="save-quite">
            <input class="confirm" type="submit" value="保存">
            <input class="confirm" type="reset" value="重置">
        </div>
    </form>

</div>
<script src="__STATIC__/js/up.js"></script>
<script src="__STATIC__/js/dom-to-image.js"></script>
<script src="__STATIC__/js/FileSaver.js"></script>
<script>


    $(function () {
        //
        $(".save-png").click(function () {
            // 下载png图片
            domtoimage.toBlob(document.getElementById('table'))
                .then(function (blob) {
                    window.saveAs(blob, 'my-node.png');
                });
        })
    })


    // 添加批次
    $('.detail-table-add').on('click', function () {
        $('.model-mask').css('display', 'block')
    })
    $('.close').on('click', function () {
        $('.model-mask').css('display', 'none')
    })


    // 修改批次
    $('.help-editor').on('click', function () {
        $('.model-mask-2').css('display', 'block')
    })
    $('.close').on('click', function () {
        $('.model-mask-2').css('display', 'none')
    })


</script>
<script src="__STATIC__/js/tinyImgUpload.js"></script>
<script>

    var options = {
        path: "{:url('admin/Test/doUpLoad')}",
        onSuccess: function (res) {
            console.log(res);
        },
        onFailure: function (res) {
            console.log(res);
        }
    }

    var upload = tinyImgUpload('#uploadss', options);

</script>


</body>
</html>